#############
## Idea
#############

/1.JavaSyntax/

/5.OnlineInternship/

out./**/1.JavaSyntax
out./**/5.OnlineInternship
/JavaRushPlugin.properties
/Instruction.png
/out.log
/out.log.*
